.header{
    background-color: #4267B2;
    border-bottom: 1px solid #29487D;
    display: flex;
    justify-content: center;
}

.header_title{
    font-size: 20px;
    color: #FFF;
    font-weight: bolder;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
